/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    BACimpute Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

manifest {
    name            = 'BACimpute'
    author          = """Christina Kirschbaum, Simon H. Tausch, Hugues Richard"""
    homePage        = '' 
    description     = """ A workflow to build models and predict missing genes from bacterial sequencing data based on cgMLST profiles """
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.10.1'
    version         = 'v0.0.1'
    doi             = ''
}

// Global default params, used in configs
params {
    cores     = 1
    max_cores = 4
    memory    = 6.GB
    profile   = null
    // Specify your pipeline's command line flags
    // Input options
    input           = ''
    mode            = 'clonal'

    // Schema options
    schema_dir      = ''
    new_schema      = false
    schema_source   = ''
    species         = ''
    ext_schema_dir  = ''
    ref_dir         = ''
    training_file   = ''

    // Model options
    model           = 'maxst'
    model_file      = ''
    new_model       = false
    ref             = ''

    // Other options
    test            = false
    test_dir        = ''

    // 
    help            = false
    version         = false

    // Pipeline Runinfo
    trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
    
    // output folder structure
    output             = 'results'
    schema_outdir      = '00_schema'
    model_outdir       = '00_model'
    allelecall_outdir  = '01_allelecall'
    impute_outdir      = '02_imputation'
    masking_outdir     = '03_masking'
    runinfo_dir        = 'X.Pipeline-Runinfo'

    // softlink results instead of copying
    publish_dir_mode = 'copy' // use 'symlink' to just link the results

    // location for engines' cache
    conda_cache_dir = 'conda'
    singularity_cache_dir = 'singularity'

    cloudProcess = false
}

// Load base.config by default for all pipelines
includeConfig 'config/base.config'

profiles {
    // engines
    conda { 
        conda.enabled           = true
        docker.enabled          = false
        singularity.enabled     = false
    }
    mamba { 
        conda.enabled           = true
        conda.useMamba          = true
        docker.enabled          = false
        singularity.enabled     = false
    }

    // no config for stub runs
    stub {
        executor {
            name = "local"
            cpus = params.max_cores
        }
    }
}

// Pipeline Runinfo
timeline {
    enabled = true
    file = "${params.output}/${params.runinfo_dir}/execution_timeline_${params.trace_timestamp}.html"
}

report {
    enabled = true
    file = "${params.output}/${params.runinfo_dir}/execution_report_${params.trace_timestamp}.html"
}

dag {
    enabled = true
    file    = "${params.output}/${params.runinfo_dir}/pipeline_dag_${params.trace_timestamp}.html"
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    THE END
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/